<fieldset data-oneway-return-target="additionalFields" data-type="round_trip">
  <div class="relative block lg:inline-block">
    <%= form.date_field :departure_date, class: "inline-block pl-20 pr-4 py-3 w-full lg:w-[450px] rounded-lg focus:outline-none focus:border focus:border-gray-800 bg-gray-200" %>
    <%# <input type="text" class="" data-controller="daterangepicker"> %>
    <div class="absolute top-3 left-3 flex items-center justify-center">
      Dep
      <%= image_tag "calendar.svg", class: "h-6 w-6" %>
    </div>
  </div>
  <div class="relative block lg:inline-block">
    <%= form.date_field :return_date, class: "mt-2 lg:mt-0 inline-block pl-20 pr-4 py-3 w-full lg:w-[450px] rounded-lg focus:outline-none focus:border focus:border-gray-800 bg-gray-200" %>
    <%# <input type="text" class="" data-controller="daterangepicker"> %>
    <div class="absolute lg:top-3 top-5 left-3 flex items-center justify-center">
      Ret
      <%= image_tag "calendar.svg", class: "h-6 w-6" %>
    </div>
  </div>
</fieldset>